@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Roboto:wght@100;300;400;500;700;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Noto+Sans+TC:wght@100;300;400;500;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

$dark-grey: #333;
$transparent-dark-grey: rgba(33,33,33,.9);
$red: #FF424F;
$green: #557C55;
$light-green: lighten($green, 40%);
$container-padding-l: 30px;
$container-padding-m: 20px;
$container-padding-s: 15px;
$border-radius: 3px;

// font
// font-family: 'Carter One', cursive;
// font-family: 'Roboto', sans-serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Noto Sans TC', sans-serif;
// font-family: 'Quicksand', sans-serif;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: $dark-grey;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 $container-padding-l;
  // border: 1px solid red;
  @media (max-width: 850px) {
    padding: 0 $container-padding-m;
  }
  @media (max-width: 500px) {
    padding: 0 $container-padding-s;
  }
}

.logo {
  color: $dark-grey;
  font-family: 'Carter One', cursive;
  line-height: 2;
  user-select: none;
}

.main-title {
  position: relative;
  height: 100px;
  margin: 50px 0;
  font-size: 16px;
  @media (max-width: 850px) {
    height: 11vw;
    margin: 50px 0;
    font-size: 15px;
  }
  @media (max-width: 700px) {
    font-size: 14px;
  }
  @media (max-width: 600px) {
    font-size: 12px;
  }
  @media (max-width: 500px) {
    font-size: 2.3vw;
  }
  .en {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #DDD;
    font-size: 5.5em;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 2px;
    user-select: none;
    white-space: nowrap;
  }
  .zh {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #555;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    @media (max-width: 800px) {
      bottom: -5px;
    }
    @media (max-width: 700px) {
      bottom: -10px;
    }
    @media (max-width: 650px) {
      bottom: -13px;
    }
    @media (max-width: 600px) {
      bottom: -10px;
    }
  }
  &.small {
    height: 70px;
    .en {
      font-size: 3.8em;
    }
    .zh {
      font-size: 1.4em;
      @media (max-width: 800px) {
        bottom: 0;
      }
    }
    @media (max-width: 850px) {
      height: 62px;
      font-size: 15px;
    }
    @media (max-width: 700px) {
      height: 55px;
      font-size: 14px;
    }
    @media (max-width: 500px) {
      height: 48px;
      font-size: 12px;
    }
  }
}

ion-icon {
  pointer-events: none;
}

.goto-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background: $dark-grey;
  border-radius: 50%;
  .icon {
    color: #FFF;
  }
}